<html>
<head>
	<title>Device Automation &amp; Management Framework</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand align-middle" href="#">
				DAMF
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>
			
			<div class="collapse navbar-collapse" align="center" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
                                        <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/devices">Devices</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Test jobs</a></li>
                                </ul>
				<form class="form-inline my-2 my-lg-0">
					<a class="nav-link" href="#"><i class="fab fa-question-circle-o fa-lg"></a>
					<a class="nav-link" href="/login">Sign in</a>
				</form>

			</div>
		</nav>
	</div>
	<div class="container-fluid w-75">
		<hr>
		{% with messages = get_flashed_messages() %}
        	{% if messages %}
        		<ul>
            		{% for message in messages %}
            			<li>{{ message }}</li>
            		{% endfor %}
        	</ul>
        	{% endif %}
        	{% endwith %}
		{% block content %}{% endblock %}
	</div>
</body>
</html>
